.home {
  border-top: 1px solid #ff9ec1; 
  height: 100vh;
  background-image: linear-gradient(to bottom, #ff9ec1, var(--primaryColor), var(--bgColor));
}

.icons {
  position: absolute;
  right: 4rem;
  padding: 1rem;
}

.icons img:hover {
  scale: 1.1;
  transition: 0.2s;
  cursor: pointer;
}

.cover {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    -webkit-transition: 0.4s;
}
  
.cover:hover {
  scale: 1.02;
  cursor: pointer;
  transition: 0.4s;
}

p {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}
