.footer {
    margin: 0;
    height: 20vh;
    background-color: aliceblue;
    padding-left: 4rem;
    display: flex;
}

.footer img {
    height: 20vh;
    scale: 1;
    position: absolute;
    right: 5rem;
}

.footer img:hover {
    scale: 1.2;
    transition: 0.3s;
}

.contact-info p {
    font-size:large
}
