.about {
    border-top: solid 1px var(--bgColor);
    height: 130vh;
    background-image: linear-gradient(to bottom, #121212, #7104d9);

    display: flex;
}    

.left-container img, 
.right-container img,
.bio {
    height: 35rem;
}

.right-container, .left-container{
    padding: 0 5rem 0 0;
}


.bio {
    color: aliceblue;
    width: 90%;
}


.spotifyPlayer {
    width: 100%;
    margin: 3rem;
}

