.about {
    border-top: solid 1px var(--bgColor);
    height: 130vh;
    background-image: linear-gradient(to bottom, #121212, #7104d9, aliceblue);
}    

.about-container,
.listen-container {
    display: flex;
    height: 60vh;
    padding: 4rem;
    padding-top: 0;
}


.about-container img,
.listen-container img {
    margin-right: 4rem;
}

.bio {
    color: aliceblue;
    width: 90%;
}

.spotifyPlayer {
    width: 90%;
}

iframe {
    height: 60vh;
    width: 100%;
}


/*  Styles for screens smaller than 960px */ 
@media (max-width: 960px) {

    .about {
        height: 150vh;
    }

    .about-container,
    .listen-container {
    margin: 0;
    padding: 0;
    display: block;
    height: 70vh;
}

    .about-container img,
    .listen-container img,
    .bio,
    .spotifyPlayer {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 4rem;
}

iframe {
    height: 400px;
}


}

/* Styles for screens smaller than 560px */
@media (max-width: 560px) {

.about {
    height: 110vh;
}

.about-container,
.listen-container {
    display: block;
    
}

.about p {
    font-size: small;
}

.about-container,
.listen-container {
    height: 60vh;
}

.bio {
    height: 25vh;
}

.about-container img,
.listen-container img {
    width: 100%;
}

iframe {
    height: 200px;
}
  
}

/* height for mobile devices */

@media (max-height: 1100px) {
    .listen-container {
        margin-top: 4rem;
    }
}
@media (max-height: 760px) {
    .listen-container {
        margin-top: 8rem;
    }
}
@media (max-height: 700px) {
    .listen-container {
        margin-top: 10rem;
    }
}